.assetCard {
    width: 320px;
    height: 180px;
    margin: 10px;
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.assetCard:hover {
    transform: scale(1.05);
    border: 2px solid #0a78e5; /* Màu xanh đậm */
}
